---
import { queryWordPress } from "../lib/wordpress";

const CPTQUERY = `
query GetAllReachSupports {
  ourReachSupports(first: 20) {
    nodes {
      title
      ourReachSupportquery {
        reachValue
        socialMediaIcon {
          node {
            mediaItemUrl
            altText
          }
        }
        socialMediaLink {
          url
          title
          target
        }
      }
    }
  }
}
`;

const response = await queryWordPress(CPTQUERY);
// Use reachItems if you want them reversed, otherwise use rawNodes
const rawNodes = response?.ourReachSupports?.nodes || [];
const reachItems = [...rawNodes].reverse();

---

<div class="grid-counter">
  {
    reachItems.map((item) => {
      // Destructure for cleaner access
      const acf = item.ourReachSupportquery;
      
      return (
        <a 
          href={acf?.socialMediaLink?.url || "#"} 
          target={acf?.socialMediaLink?.target || "_self"}
        >
          <div class="counter-data">
            <img
              src={acf?.socialMediaIcon?.node?.mediaItemUrl || "/placeholder-icon.png"}
              alt={acf?.socialMediaIcon?.node?.altText || item.title}
              width="80"
              class="socialmeddia-icon"
            />
            <p>{item.title || "error"}</p>
          </div>
        </a>
      );
    })
  }
</div>

<style>
    .counter-data p {
        color: var(--color-red);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .counter-data .fs-60 {
        color: var(--color-blue);
        padding-bottom: 5px;
    }

    .counter-data {
        max-width: 200px;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

    .grid-counter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        flex-wrap: wrap;
        max-width:70%;
        width: 100%;
        margin: 0 auto;
    }

    .counter-data .fs-60 {
        padding-bottom: 10px;
    }

    .socialmeddia-icon {
    max-width: 70px;
    margin: 0 auto 20px;
    
}

@media(max-width:1600px){
    .socialmeddia-icon {
    max-width: 60px;
    margin: 0 auto 10px;
}
}
@media(max-width:1400px){
        .socialmeddia-icon {
        max-width: 50px;
    }
}


    @media (max-width: 1199px) {
        .grid-counter {
            max-width: 100%;
            justify-content: center;
        }
        .counter-data {
            margin: 0;
        }
            .socialmeddia-icon{
        max-width: 40px;
        margin: 0 auto 10px;
    }
    }
</style>
